{% extends 'base.html.twig' %}

{% block title %}New Comm{% endblock %}

{% block body %}
    <h1>Créer un nouveau commentaire </h1>
 <br>
    {{ form_start(comm_form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-container">
        <div class="form-group">
            {{ form_row(comm_form.contenu) }}
         
        </div>
        <button type="submit" class="centered-button">Envoyer le commentaire</button>
    </div>
    {{ form_end(comm_form)}}
</br>
    <a href="{{ path('app_comm_index') }}">back to list</a>
{% endblock %}
